<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Saucedemo Suite">
    <test name="e2eTests">
        <classes>
            <class name="e2e.e2eStandardUserTests"/>
            <class name="e2e.e2eProblemUser"/>
            <class name="e2e.e2ePerformanseGlitchUser"/>
        </classes>
    </test>
    <test name="LoginTests">
        <classes>
            <class name="Tests.LoginTests"/>
        </classes>
    </test>
    <test name="ItemListStandardUserTests">
        <classes>
            <class name="Tests.ItemListStandardUserTest"/>
        </classes>
    </test>
    <test name="CartPageTests">
        <classes>
            <class name="Tests.CartPageTests"/>
        </classes>
    </test>
   </suite>